.Header {
  background-color: rgb(51, 51, 51);
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Form {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 30px 30px 60px 30px;
}

.example-button {
  max-width: 300px;
}

.stack-example {
  align-items: center;
}

.stack-results {
  min-width: 20vw;
}

@media screen and (max-width: 992px) {
  .stack-example {
    margin-top: -15px;
  }
  .header-button {
    display: none !important;
  }
}
