.Form {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 30px 30px 60px 30px;
}

.example-button {
  max-width: 300px;
}

.stack-example {
  align-items: center;
}

.stack-results {
  min-width: 20vw;
}

@media screen and (max-width: 992px) {
  .stack-example {
    margin-top: -15px;
  }
}
